astroid==2.3.3
backports.entry-points-selectable==1.1.0
click==8.0.1
colorama==0.4.4
contextlib2==21.6.0
distlib==0.3.3
filelock==3.3.1
Flask==2.0.2
Flask-Cors==3.0.10
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
greenlet==1.1.2
gunicorn==20.1.0
importlib-metadata==4.8.1
isort==4.3.21
itsdangerous==2.0.1
Jinja2==3.0.2
lazy-object-proxy==1.4.2
MarkupSafe==2.0.1
marshmallow==3.13.0
marshmallow-sqlalchemy==0.26.1
mccabe==0.6.1
mysql-connector-python==8.0.27
platformdirs==2.4.0
protobuf==3.19.0
pylint==2.4.4
PyMySQL==1.0.2
python-dotenv==0.19.1
schema==0.7.4
six==1.16.0
sql==0.4.0
SQLAlchemy==1.4.25
virtualenv==20.8.1
Werkzeug==2.0.2
wrapt==1.11.2
